* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
body {
    padding: 10px;
}
.tabla {
    border: solid 3px rgb(0, 0, 0);
    text-align: center;
    margin:auto;
    margin-top: 10px;
}