<h2>Propiedades input (vienen del comp. padre)</h2>
<p>Valores X e Y:  {{ valorX }}, {{valorY}}, {{valorZ}}</p>
<!--<p>Valores Activo: {{valorActivo}}</p>-->
<label>¿Activado?</label>

<input type="checkbox" [checked]='valorActivo==="true"' disabled />
<!--que el padre (appcomponent) le diuga  a este que le pase un boolean de activado o desactivado en funcion del servicio-->
