<h1>{{title}} </h1>
<app-usu-servicio ></app-usu-servicio>
<br>
<app-bindings></app-bindings>
<br>
<app-bindings></app-bindings>
<br>
<app-directivas-struct></app-directivas-struct>
<app-propiedades-input valorX=20 valorY=10 valorActivo={{svrEj.siActivado()}}>
</app-propiedades-input>