<h2>Usu-servicio:</h2>
<button (click)="svrEj.activar(! svrEj.siActivado())">
    {{svrEj.siActivado() ? "Desactivar" : "Activar"}}
</button>
<br>
<div *ngIf="svrEj.siActivado(); else desactivado">Activado</div>
<div><ng-template #desactivado>Desactivado</ng-template></div>

<ul>
    <li *ngFor="let wf of svrEj.climaArray()">
        {{wf.date}} {{wf.temperaturaC}}
    </li>
</ul>
