<h2> Directivas estructurales: </h2>
<!-- Empiezan por ngNombreDIrectiva: La programacion estructurada llevada al HTML declarado -->
<ol>
    <li *ngFor="let comida of arrayDeTextos">
        He probado {{comida}}
    </li>
</ol>
<!-- Double data-binding: La leche: Los dos anteriores en uno. Se usa con 
    [ ]-->
    <span>Double el valor </span><input type="number" [(ngModel)]="contadorComp"/>
<div *ngIf="contadorComp%2 === 0">El contador es par</div>
<div *ngIf="contadorComp%2 === 1">El contador es impar</div>
<!-- Crear componente directivas-struct y meter los dos ejemplos en el
    y sustituir el tercer <trozo-web por este nuevo comp-->

